body{
	text-align: center;
   font-family: 'Lemonada', cursive;
  	/*margin: 0 250px;*/
}
.compet{
	display: flex;
	justify-content: space-around;
	/*border: 1px dashed;*/
	/*padding: 24px;*/
	background-color: gainsboro;
	margin: 44px;

}
.integrateur{
	border: 1px dashed;
	margin: 0 44px;
	padding: 5px;
	color: white;
	background-color: darkslategrey;
}
.maphoto{
	border-radius: 50%;
	width: 14%;
}
ul{
	list-style: none;
}
i{
	padding: 24px;
}
a{
	text-decoration: none;
	color: tomato;
	/*padding: 24px;*/
}
.centres img{
	width: 64px;
	height: 64px;
}
.interet1{
	display: flex;
	justify-content: center;
	
}
.interet2{
	display: flex;
	justify-content: center;
	
}
.centres{
	/*border: 1px dashed;*/
	margin: 44px;
	background-color: grey;
	color: white;
}
.gif{
	height: 300px;
	margin: 74px;
}