body{
	text-align: center;
   font-family: 'Lemonada', cursive;

}
.compet{
	display: flex;
	justify-content: space-around;
	border: 1px dashed;
	padding: 24px;

}
.integrateur{
	border: 1px dashed;
	margin: 0 44px;
	padding: 5px;
}
.chien{
	border-radius: 50%;
}
ul{
	list-style: none;
}
i{
	padding: 24px;
}